<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style3.css">
    <title>Welcome</title>
</head>
<body>
      <nav class="navigation">
      <div class="nav-brand">World Of Moments</div>
      <ul>
        
      
        <li><a href="#game1">PLay</a></li>
        <li><a href="#game1">Pause</a></li>
       
        
      </ul>
    </nav>
</html>